.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-title {
    height: 10%;
    margin: 0 auto;
    height: 10%;
    border-radius: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #30498d;
    font-size: 16px;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    > label > span {
        font-size: 400px;
        color: #819eea;
        cursor: pointer;
    }

    > label > span:hover {
        color: #506fde;
    }
}

.page-footer {
    display: flex;
    justify-content: flex-end;
    margin: 30px;

    > button {
        margin: auto 5px;
    }
}

.step-2 {
    flex-direction: column;
    > div {
        margin: 20px 0 0;
        width: 40%;
        color: #506fde;
    }
    > div {
        text-align: center;

        mat-form-field,
        > form {
            width: 100%;
        }

        > mat-slider {
            width: 100%;
            margin-top: 25px;
        }

        > mat-label {
            display: flex;
            align-items: center;
            font-weight: 600;
            margin-bottom: 10px;
            > span {
                font-size: 15px;
                cursor: default;
            }
        }
    }
}

.spinner {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.completed {
    > span {
        font-size: 400px;
        color: #30498d;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
