.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-title {
    height: 10%;
    margin: 0 auto;
    height: 10%;
    border-radius: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #30498d;
    font-size: 16px;
}

.page-content {
    height: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    > label > span {
        font-size: 400px;
        color: #819eea;
        cursor: pointer;
    }

    > label > span:hover {
        color: #506fde;
    }
}

.page-footer {
    display: flex;
    justify-content: flex-end;
    margin: 30px;

    > button {
        margin: auto 5px;
    }
}

.step-2 {
    flex-direction: column;
    mat-form-field,
    mat-slider,
    > div {
        margin: 20px 0;
        width: 40%;
        color: #506fde;
    }
    > div {
        text-align: center;
    }
}
